nav {
  background-color: lightblue;
  clear: both;
  width: "100%";
}
body {
  background-color: cyan;
  margin-top: 40px;
}
h1 {
  text-align: center;
}
footer{
  text-color: white;
  clear: both;
  background-color: blue;
}
.section {
  float: left;
  width: 50%;
  background-color: rgb(255, 0, 255);
  height: 400px;
}
.section2 {
  float: right;
  width: 50%;
  background-color: rgb(102, 255, 51);
  height: 400px;
  text-align: center;
}
