nav {
  background-color: rgb(122, 0, 41);
  clear: both;
  width: "100%";
  border: 5px rgb(255, 206, 157);
  margin-top: -10px;
}
body {
  background-color: rgb(204, 102, 0);
  margin-top: 40px;
  border: 5px rgb(255, 206, 157);
}
h1 {
  text-align: center;
}
footer{
  color: white;
  clear: both;
  background-color: black;
  border: 5px rgb(255, 206, 157);
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  text-align: center;
}
.section {
  float: left;
  width: 50%;
  background-color: rgb(204, 102, 0);
  height: 400px;
}
.section2 {
  float: right;
  width: 50%;
  background-color: rgb(204, 102, 0);
  height: 400px;
  text-align: center;
}
div {
  text-align: center;
}
.li {
  display: inline;
  color: white;
  font-size: 24px;
}
img.mason{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

