nav {
  background-color: rgb(181, 108, 108);
  clear: both;
  width: 500px;
  border: 5px rgb(255, 206, 157);
  margin: 0px;
  position: fixed;
  color: white;
  height: 70px;
}
body {
  background-color: rgb(204, 102, 0);
  border: 5px rgb(255, 206, 157);
}
h1 {
  text-align: center;
}
footer{
  color: white;
  clear: both;
  background-color: rgb(181, 108, 108);
  border: 5px rgb(181, 108, 108);
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  text-align: center;
}
.section {
  margin-top: 50px;
  float: left;
  width: 50%;
  background-color: rgb(204, 102, 0);
  height: 400px;
  color: white;
}
.section2 {
  margin-top: 50px;
  float: right;
  width: 50%;
  background-color: rgb(204, 102, 0);
  height: 400px;
  text-align: center;
  color: white;
}
div {
  text-align: center;
}
.li {
  display: inline;
  color: white;
  font-size: 24px;
}
img.mason{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section p {
  margin-left: 10px;
}
