
   main {
      margin-left: auto;
      margin-right: auto;
   }
   h1 {
      text-align: center;
   }
   h3 {
      display: inline;
   }
   section {
      margin: auto;
      height: 200px;
      width: 350px;
      background-color: cyan;
   }
   footer {
      margin: auto;
      background-color: cyan;
      width: 1000px;
   }
