   body { 
        background-color: pink;
      }
      .complete{
        text-decoration: line-through;
        background-color: cyan;
      }
      .high {
        color: white;
        background-color: red;
      }
      .med {
        color: orange;
        background-color: brown;
      }
      .low {
        color: gray;
        background-color: black;
      }
   section{
         height: 200 px;
         width: 350;
   }
