header{
  text-align: center;
}
main{
  height: 500px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: cyan;
}
section{
  text-align: center;
  background-color: cyan;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}
.high{
  color: red;
}
.medium{
  color: yellow;
}
.low{
  color: gray;
}
.done{
  text-decoration: line-through;
}
