
   body { 
        background-color: pink;
      }
   head {
      margin-left: auto;
      margin-right: auto;
   }
   section{
      margin-left: auto;
      margin-right: auto;
      height: 200 px;
      width: 350;
      background-color: cyan;
   }
